body{ 
    background: linear-gradient(white, rgb(206, 252, 255));
}
/* path */
.path{
    display: flex;
    justify-content: space-around;

    width: 200px;

    margin-top: 74px;
    margin-left: 405px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #737373;
}
.path__basket__text, .basket__empty__text{
    margin-top: 21px;
    margin-left: 405px;

    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
}

.line{
    border: 1px solid #8D8D8D;

    width: 99.92%;

    margin-top: 33px;
}

/* ___________________________________________________Выпадающий список_____________________________________ */
.dropdown{
    /* display: none; */
    position: absolute;
    left: 0;
    background-color:#D7B399;
    top: 100%;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility;
}
.dropdown--active{
    opacity: 1;
    visibility: visible;
}
.dropdown__link{
    color: #212121;
    padding: 10px 10px;
    display: block;
    width: 100%;
    /* text-decoration: none; */
}
.dropdown__link:hover{
    background-color: #946b4e;
}


/* _________________________________________Корзина________________________________________ */
.goods__basket{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 42px;

    width: 1110px;

    margin: 42px auto;    

}

.goods__block__basket{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.basket__img__text{
    display: flex;
    align-items: center;

    width: 400px;
}

.basket__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    padding-left: 10px;
}

.basket__text_goods{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #737373;
}

.basket__text_categories{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #737373;
}

.basket__img{
    width: 155px;
    height: 244/2px;
}

.basket__amoynt__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #212121;
}

.basket__amoynt{
    display: flex;
    align-items: center;
    gap: 20px;
}

.basket__amoynt__btn{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #af8466;
    border-radius: 5px;
    background: #cba286;

    width: 20px;
    height: 20px;
}

.basket__amoynt__btn:hover{
    border: 1px solid #946b4e;
    background: #af8466;

    cursor: pointer;
}

.basket__text_price_ruble{
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}

.basket__icons__cancel:hover{
    background-color: #cba286;
    border-radius: 16px;
    
    cursor: pointer;
}

.making__order{
    display: flex;
    flex-direction: column;

    margin-left: 1216px;    

    width: 300px;
}

.btnOrder{
    width: 300px;
    height: 40px;

    border: 1px solid black;
    background-color: #D7B399;
    border-radius: 30px;

    font-size: 16px;
    font-weight: 600;
}

.btnOrder:hover{
    background-color: #af8466;

    cursor: pointer;
}

.block__sum__price{
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 600;
}

.sum__price__number{
    padding-right: 10px;
}

.dispNone{
    display: none;
}

/* _____________________________________________Адаптивка_____________________________________________ */
@media (max-width : 1440px) {
    .path{
        margin-left: 190px;
    }

    .path__basket__text{
        margin-left: 196px;
    }

    .basket__empty__text{
        margin-left: 220px;
    }

    .making__order{
        margin-left: 970px;
    }
}

@media (max-width : 1024px) {
    .path{
        margin-left: 90px;
    }

    .path__basket__text{
        margin-left: 98px;
    }

    .basket__empty__text{
        margin-left: 120px;
    }

    .goods__basket{
        width: 840px;
    }

    .making__order{
        margin-left: 634px;
    }
}

@media (max-width : 768px){
    .goods__basket{
        width: 700px;
    }

    .basket__img__text{
        width: 300px;
    }
    
    .basket__amoynt {
        width: 90px;
        gap: 10px;
        flex-wrap: wrap;
    }

    .making__order{
        margin-left: 420px;
    }

    .basket__empty__text{
        margin-left: 100px;
    }
}

@media (max-width : 425px){
    .path{
        margin-left: 10px;
        margin-top: 20px;
    }

    .path__basket__text{
        margin-left: 20px;
        font-size: 19px;
    }

    .basket__empty__text{
        margin-left: 20px;
        font-size: 18px;
    }

    .goods__basket{
        width: 400px;
    }
    
    .goods__block__basket{
        flex-direction: column;
        gap: 5px;
        
        position: relative;
    }
    
    .basket__img__text{
        width: 400px;
        /* align-items: normal; */
    }

    .basket__amoynt{
        flex-wrap: nowrap;
        justify-content: center;

        width: auto;

        position: absolute;
        top: 150px;
        left: 164px;
    }

    .basket__text_price_ruble{
        position: absolute;
        top: 180px;
        left: 240px;
    }

    .basket__icons{
        position: absolute;
        top: 10px;
        left: 360px;
    }

    .making__order{
        margin-left: 100px;
        align-items: flex-end;
    }

    .block__sum__price{
        font-size: 16px;
    }

    .btnOrder{
        width: 200px;
    }
}


@media (max-width : 375px){
    .goods__basket, .goods__block__basket{
        width: auto;
    }

    .basket__img__text{
        width: auto;
        align-items: flex-start;
    }

    .basket__icons{
        left: 335px;
        top: 36px;

    }
    
    .basket__icons__cancel{
        width: 30px;
        height: 30px;
    }

    .basket__amoynt{
        flex-wrap: wrap;

        top: 100px;
        left: 156px;

        width: 100px;
    }

    .basket__img{
        width: 140px;
        height: auto;
    }

    .basket__text_price_ruble{
        top: 160px;
        left: 172px;
    }

    .making__order{
        width: auto;
    }
    
}
@media (max-width : 320px){
    .basket__icons{
        left: 280px;
        top: 0;
    }
}