body{ 
    background: linear-gradient(white, rgb(206, 252, 255));
}

/* path */
.path{
    display: flex;
    justify-content: space-around;

    width: 244px;

    margin-top: 74px;
    margin-left: 405px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #737373;
}


.men_clothing__text, .women_clothing__text, .basket__empty__text{
    margin-top: 21px;
    margin-left: 405px;

    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
}

.line{
    border: 1px solid #8D8D8D;
    
    width: 99.92%;

    margin-top: 33px;
}

.all{
    display: flex;
    align-items: flex-end;
    gap: 20px;

    width: 1110px;

    margin: 21px auto;
}

.all__ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #737373;
}

#all__img{
    width: 825px;
    height: 349px;
}

.ul__catigory{
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 18px;
    line-height: 22px;
    margin-left: 14px;
    margin-top: 16px;
}

.category__text , .sidenav__category__text{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;

    width: 240px;

    border-radius: 5px;
}

.category__number, .category__number_new, .category__number_dis , .sidenav__category__number, .sidenav__category__number_new, .sidenav__category__number_dis{
    padding:  0 10px  0 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;

    color: #000000;
}

.men__all__goods, .all__goods{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 42px;

    width: 825px;

    margin-top: 42px;
    margin-left: 684px;
}

.block__text_goods{
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
    color: #737373;
}

.block__text_categories{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #737373;
}

.block__text_price_ruble {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}

.block__text_price_ruble.discount-price {
    line-height: 24px;
    letter-spacing: 0.02em;
    font-size: 20px;
    color: #D84033;
}

.new_models, .discount, .goods__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    width: 255px;
}

.discount__items__oldprice {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #000000;
}

/* ___________________________________________________Выпадающий список_____________________________________ */
.dropdown{
    /* display: none; */
    position: absolute;
    left: 0;
    background-color:#D7B399;
    top: 100%;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility;
}
.dropdown--active{
    opacity: 1;
    visibility: visible;
}
.dropdown__link{
    color: #212121;
    padding: 10px 10px;
    display: block;
    width: 100%;
    /* text-decoration: none; */
}
.dropdown__link:hover{
    background-color: #946b4e;
}


/* _____________________________________________Кнопки_списка______________________________________ */
.dispNone{
    display: none;
}

.category__text:hover{
    background-color:#cba286;

    color: white;

    cursor: pointer ;
}

.btnColor{
    background-color: #cba286;

    color: white;
}

.btn__clothes{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 255px;

    padding: 5px;

    border-radius: 5px;

    cursor: pointer;
}

.btn__clothes:hover{
    background-color: rgb(203, 162, 134);

    color: white;
}

/* Кнопка добавления в корзину */
.btnBasket{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 3;

    font-size: 16px;
    
    height: 40px;
    width: 100%;
    bottom: 0;

    color: white;
    
    opacity: 0;
    background-color: #af8466;
    transform: translateY(calc(40px));
    transition: all 200ms;
}

.btnBasket_hover{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 3;

    font-size: 16px;

    height: 40px;
    width: 100%;
    bottom: 0;

    color: white;

    background-color: #af8466;
    opacity: 0.9;
    transform: translateY(calc(1px));
    transition: all 400ms;

    cursor: pointer;
}

.img__btnBasket{
    display: flex;
    position: relative;
}

/* _____________________________________________Адаптивка_____________________________________________ */
@media (max-width : 1440px) {

    .path{
        margin-left: 190px;
    }

    .men_clothing__text, .basket__empty__text, .women_clothing__text{
        margin-left: 190px;
    }

    .all__goods{
        margin-left: 438px;
    }
}

@media (max-width : 1024px){
    .all{
        width: auto;
    }

    #all__img{
        width: 740px;
        margin: 0 auto;
    }

    .all__goods{
        margin: 0 auto;
    }

    .path, .men_clothing__text, .women_clothing__text{
        margin-left: 10px;
    }
}

@media (max-width : 768px){

    .all__ul{
        display: none;
    }

    .all__goods{
        width: 600px;
        margin: 0 auto;
    }

}

@media (max-width : 425px){
    .all__goods{
        width: 400px;
        margin: 0 auto;
    }

    #all__img{
        width: 400px;
        height: 200px;
        margin: 0 auto;
    }

    .men__all__goods, .all__goods{
        justify-content: space-around;
        gap: 5px;
    }

    .path{
        margin-top: 0;
        font-size: 14px;
    }

    .men_clothing__text, .women_clothing__text, .basket__empty__text{
        font-size: 22px;
    }

    .new_models, .discount, .goods__block{
        width: 150px;
    }
    .block__img{
        width: 178px;
        height: 240px;
    }
}

@media (max-width : 375px){
    #all__img{
        width: 300px;
        height: auto;
    }

    .men__all__goods, .all__goods{
        width: 300px;
    }

    .new_models, .discount, .goods__block{
        width: 140px;
        height: auto;
    }

    .block__img{
        width: 140px;
        height: auto;
    }

    .btnBasket, .btnBasket_hover, .block__text_goods, .block__text_categories , .block__text_price_ruble, .discount__items__oldprice{
        font-size: 12px;
    }
    .block__text_price_ruble.discount-price{
        font-size: 14px;
    }

}